<div><p>FieldID:{{field.id}}</p>
  <p>Farm Name: {{field.farmId}}</p>
  <p>Field type: {{field.type}}</p></div>
<div><h1>Sensors</h1>
  <mat-tab-group>
    <mat-tab *ngFor="let sensor of sensors" [label]="sensor.id.toString()">
      <app-tab-content-sensor [sensor]="sensor"></app-tab-content-sensor>
    </mat-tab>
  </mat-tab-group>
</div>

